*.bat
package-lock.json
*.mod
*.sum
capacitor.config.ts
*.exe
/node_modules
*.lock
android/app/src/main/assets/llm/qwen3-0.6b-instruct.Q4_K_M.gguf
android/app/src/main/assets/vosk-model-small-fr-0.22.zip
android/app/src/main/cpp/llama.cpp/
**/*webapp-new*
**/*webapp-android*


.env

public/vosk-model-small-fr-0.22.zip
.vscode/settings.json
*.png
/jdk21
/e2e
/.playwright-mcp
/.firebase
/.agents
/.serena
stress_test_raw_results.json
test_generated.wav
models/qwen2-audio-7b-instruct-q4_k_m.gguf
models/mmproj-qwen2-audio-7b.gguf
.env
.env
/models
