*.bat
package-lock.json
*.mod
*.sum
capacitor.config.ts
*.exe
/node_modules
*.lock
android/app/src/main/assets/llm/qwen3-0.6b-instruct.Q4_K_M.gguf
android/app/src/main/assets/vosk-model-small-fr-0.22.zip
android/app/src/main/cpp/llama.cpp/
**/*webapp-new*
**/*webapp-android*




public/vosk-model-small-fr-0.22.zip
.vscode/settings.json
*.png
